/*AULA DIA 25 DE OUT DE 2022*/

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

.card-form {
    width: 400px;
}