#btn {
    width:100px;
    height: 30px;
    border: none;
    background-color: blanchedalmond;
    font-size: 13px;
  color:black;
  cursor: pointer;
  border-radius: 35%;

}

input[type="file"] {
  display: none;
}